# Project exclude paths
/dist/
/release/
/node_modules/
/node_modules/@babel/parser/
/node_modules/@babel/types/
/node_modules/@bcoe/v8-coverage/
/node_modules/@jest/console/
/node_modules/@jest/core/
/node_modules/@jest/environment/LICENSE
/node_modules/@jest/environment/build/index.js
/node_modules/@jest/expect/
/node_modules/@jest/expect-utils/
/node_modules/@jest/fake-timers/
/node_modules/@jest/globals/LICENSE
/node_modules/@jest/globals/build/index.js
/node_modules/@jest/reporters/
/node_modules/@jest/schemas/LICENSE
/node_modules/@jest/schemas/README.md
/node_modules/@jest/schemas/build/index.js
/node_modules/@jest/source-map/
/node_modules/@jest/test-result/
/node_modules/@jest/test-sequencer/LICENSE
/node_modules/@jest/test-sequencer/build/index.js
/node_modules/@jest/transform/
/node_modules/@jest/types/
/node_modules/@jridgewell/resolve-uri/
/node_modules/@jridgewell/sourcemap-codec/LICENSE
/node_modules/@jridgewell/sourcemap-codec/README.md
/node_modules/@jridgewell/sourcemap-codec/dist/
/node_modules/@jridgewell/sourcemap-codec/types/range-mappings.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/range-mappings.d.mts.map
/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.mts.map
/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.mts.map
/node_modules/@jridgewell/sourcemap-codec/types/strings.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/strings.d.mts.map
/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.mts.map
/node_modules/@jridgewell/trace-mapping/LICENSE
/node_modules/@jridgewell/trace-mapping/README.md
/node_modules/@jridgewell/trace-mapping/dist/
/node_modules/@jridgewell/trace-mapping/types/binary-search.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/binary-search.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/by-source.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/by-source.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/resolve.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/resolve.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/sort.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/sort.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/sourcemap-segment.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/sourcemap-segment.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/strip-filename.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/strip-filename.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/trace-mapping.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/trace-mapping.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/types.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/types.d.mts.map
/node_modules/@sinclair/typebox/compiler/compiler.js
/node_modules/@sinclair/typebox/compiler/index.js
/node_modules/@sinclair/typebox/errors/errors.js
/node_modules/@sinclair/typebox/errors/index.js
/node_modules/@sinclair/typebox/license
/node_modules/@sinclair/typebox/readme.md
/node_modules/@sinclair/typebox/system/index.js
/node_modules/@sinclair/typebox/system/system.js
/node_modules/@sinclair/typebox/typebox.js
/node_modules/@sinclair/typebox/value/cast.js
/node_modules/@sinclair/typebox/value/check.js
/node_modules/@sinclair/typebox/value/clone.js
/node_modules/@sinclair/typebox/value/convert.js
/node_modules/@sinclair/typebox/value/create.js
/node_modules/@sinclair/typebox/value/delta.js
/node_modules/@sinclair/typebox/value/equal.js
/node_modules/@sinclair/typebox/value/hash.js
/node_modules/@sinclair/typebox/value/index.js
/node_modules/@sinclair/typebox/value/is.js
/node_modules/@sinclair/typebox/value/mutate.js
/node_modules/@sinclair/typebox/value/pointer.js
/node_modules/@sinclair/typebox/value/value.js
/node_modules/@types/babel__core/LICENSE
/node_modules/@types/babel__core/README.md
/node_modules/@types/babel__generator/LICENSE
/node_modules/@types/babel__generator/README.md
/node_modules/@types/babel__template/LICENSE
/node_modules/@types/babel__template/README.md
/node_modules/@types/babel__traverse/LICENSE
/node_modules/@types/babel__traverse/README.md
/node_modules/@types/graceful-fs/LICENSE
/node_modules/@types/graceful-fs/README.md
/node_modules/@types/istanbul-lib-coverage/LICENSE
/node_modules/@types/istanbul-lib-coverage/README.md
/node_modules/@types/istanbul-lib-report/LICENSE
/node_modules/@types/istanbul-lib-report/README.md
/node_modules/@types/istanbul-reports/LICENSE
/node_modules/@types/istanbul-reports/README.md
/node_modules/@types/jest/
/node_modules/@types/node/LICENSE
/node_modules/@types/node/README.md
/node_modules/@types/node/test/
/node_modules/@types/stack-utils/LICENSE
/node_modules/@types/stack-utils/README.md
/node_modules/@types/yargs/LICENSE
/node_modules/@types/yargs/README.md
/node_modules/@types/yargs-parser/LICENSE
/node_modules/@types/yargs-parser/README.md
/node_modules/ansi-escapes/
/node_modules/ansi-regex/
/node_modules/ansi-styles/
/node_modules/anymatch/
/node_modules/bs-logger/
/node_modules/bs-logger/dist/index.js
/node_modules/bs-logger/dist/logger/context.js
/node_modules/bs-logger/dist/logger/index.js
/node_modules/bs-logger/dist/logger/level.js
/node_modules/bs-logger/dist/logger/message.js
/node_modules/bs-logger/dist/logger/root.js
/node_modules/bs-logger/dist/logger/target.js
/node_modules/bs-logger/dist/testing/index.js
/node_modules/bs-logger/dist/testing/target-mock.js
/node_modules/bs-logger/dist/utils/cache-getters.js
/node_modules/callsites/
/node_modules/camelcase/
/node_modules/chalk/
/node_modules/char-regex/
/node_modules/ci-info/
/node_modules/cjs-module-lexer/
/node_modules/collect-v8-coverage/
/node_modules/create-jest/
/node_modules/dedent/
/node_modules/dedent/dist/dedent.js
/node_modules/dedent/dist/dedent.mjs
/node_modules/deepmerge/
/node_modules/detect-newline/
/node_modules/diff-sequences/LICENSE
/node_modules/diff-sequences/README.md
/node_modules/diff-sequences/build/index.js
/node_modules/emittery/
/node_modules/execa/
/node_modules/expect/
/node_modules/fast-json-stable-stringify/
/node_modules/find-up/
/node_modules/get-stream/
/node_modules/handlebars/
/node_modules/human-signals/
/node_modules/import-local/
/node_modules/is-generator-fn/
/node_modules/is-stream/
/node_modules/jest/
/node_modules/jest/build/index.js
/node_modules/jest-changed-files/
/node_modules/jest-circus/
/node_modules/jest-cli/
/node_modules/jest-config/
/node_modules/jest-diff/
/node_modules/jest-docblock/LICENSE
/node_modules/jest-docblock/README.md
/node_modules/jest-docblock/build/index.js
/node_modules/jest-each/
/node_modules/jest-environment-node/LICENSE
/node_modules/jest-environment-node/build/index.js
/node_modules/jest-get-type/LICENSE
/node_modules/jest-get-type/build/index.js
/node_modules/jest-haste-map/
/node_modules/jest-leak-detector/LICENSE
/node_modules/jest-leak-detector/README.md
/node_modules/jest-leak-detector/build/index.js
/node_modules/jest-matcher-utils/
/node_modules/jest-message-util/
/node_modules/jest-mock/LICENSE
/node_modules/jest-mock/README.md
/node_modules/jest-mock/build/index.js
/node_modules/jest-pnp-resolver/
/node_modules/jest-regex-util/LICENSE
/node_modules/jest-regex-util/build/index.js
/node_modules/jest-resolve/
/node_modules/jest-resolve-dependencies/LICENSE
/node_modules/jest-resolve-dependencies/build/index.js
/node_modules/jest-runner/
/node_modules/jest-runtime/
/node_modules/jest-snapshot/
/node_modules/jest-util/
/node_modules/jest-validate/
/node_modules/jest-watcher/
/node_modules/jest-worker/
/node_modules/json5/
/node_modules/leven/
/node_modules/locate-path/
/node_modules/make-error/
/node_modules/mimic-fn/
/node_modules/npm-run-path/
/node_modules/onetime/
/node_modules/p-limit/
/node_modules/p-locate/
/node_modules/path-exists/
/node_modules/path-key/
/node_modules/pirates/
/node_modules/pkg-dir/
/node_modules/pretty-format/
/node_modules/pure-rand/
/node_modules/resolve-cwd/
/node_modules/resolve-from/
/node_modules/resolve.exports/
/node_modules/slash/
/node_modules/string-length/
/node_modules/strip-ansi/
/node_modules/strip-bom/
/node_modules/strip-json-comments/
/node_modules/ts-jest/
/node_modules/ts-jest/dist/cli/config/init.js
/node_modules/ts-jest/dist/cli/config/migrate.js
/node_modules/ts-jest/dist/cli/help.js
/node_modules/ts-jest/dist/cli/helpers/presets.js
/node_modules/ts-jest/dist/cli/index.js
/node_modules/ts-jest/dist/config/index.js
/node_modules/ts-jest/dist/config/paths-to-module-name-mapper.js
/node_modules/ts-jest/dist/config/types.js
/node_modules/ts-jest/dist/constants.js
/node_modules/ts-jest/dist/index.js
/node_modules/ts-jest/dist/legacy/compiler/compiler-utils.js
/node_modules/ts-jest/dist/legacy/compiler/index.js
/node_modules/ts-jest/dist/legacy/compiler/ts-compiler.js
/node_modules/ts-jest/dist/legacy/compiler/ts-jest-compiler.js
/node_modules/ts-jest/dist/legacy/config/config-set.js
/node_modules/ts-jest/dist/legacy/index.js
/node_modules/ts-jest/dist/legacy/ts-jest-transformer.js
/node_modules/ts-jest/dist/presets/all-presets.js
/node_modules/ts-jest/dist/presets/create-jest-preset.js
/node_modules/ts-jest/dist/raw-compiler-options.js
/node_modules/ts-jest/dist/transformers/hoist-jest.js
/node_modules/ts-jest/dist/transpilers/typescript/transpile-module.js
/node_modules/ts-jest/dist/types.js
/node_modules/ts-jest/dist/utils/backports.js
/node_modules/ts-jest/dist/utils/diagnostics.js
/node_modules/ts-jest/dist/utils/get-package-version.js
/node_modules/ts-jest/dist/utils/importer.js
/node_modules/ts-jest/dist/utils/index.js
/node_modules/ts-jest/dist/utils/json.js
/node_modules/ts-jest/dist/utils/jsonable-value.js
/node_modules/ts-jest/dist/utils/logger.js
/node_modules/ts-jest/dist/utils/memoize.js
/node_modules/ts-jest/dist/utils/messages.js
/node_modules/ts-jest/dist/utils/normalize-slashes.js
/node_modules/ts-jest/dist/utils/sha1.js
/node_modules/ts-jest/dist/utils/ts-error.js
/node_modules/type-fest/license
/node_modules/type-fest/readme.md
/node_modules/undici-types/LICENSE
/node_modules/undici-types/README.md
/node_modules/v8-to-istanbul/
/node_modules/yocto-queue/